footer {
  margin-top: 6rem;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #181717;
  padding-top: 2rem;
  box-shadow: 0px 0px 75px rgba(74, 165, 225, 0.8);
  transition: 500ms ease-in-out;
  &:hover {
    box-shadow: 0px 0px 75px rgba(74, 165, 225, 1);
  }
}

.container {
  display: flex;
  justify-content: center;
  gap: 8rem;
  align-items: center;
  flex-wrap: wrap;
  > img {
    max-width: 12rem;
  }
}
.rule {
  color: #b9b3b3;
  text-align: center;
  margin: 1rem 0;
}
.content {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.text {
  color: #b9b3b3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icons {
  display: flex;
  gap: 0.5rem;
  a > img {
    max-width: 2rem;
    width: 100%;
  }
}
.miranda {
  color: #b9b3b3;
  display: flex;
  flex-direction: column;
  gap: 40px;
  > a {
    display: inline;
    transition: 500ms ease-in-out;
  }
  > a:hover {
    color: #46ccab;
    transform: translateY(-5px);
  }
}
